dialog.delete-task-dialog {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 450px;

    padding: 0.8rem;

    background-color: var(--glass-background);
    border: var(--glass-border);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    border-radius: calc((0.8rem + 0.5rem) / 2);

    display: flex;
    flex-direction: column;

    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.10);
}

.delete-task-dialog .delete-wrapper {
    padding: 1rem;
    
    border: var(--item-border);
    border-radius: 0.5rem;

    background-color: white;

    display: flex;
    flex-direction: column;

    gap: 0.75rem;
}

.delete-wrapper .buttons {
    display: flex;
    flex-direction: row;
    /* align-items: center; */

    justify-content: space-around;

    gap: 0.5rem;
}

.delete-wrapper .title {
    font-size: var(--medium-font-size);
    font-weight: 500;
    color: var(--text-color);

    padding-bottom: 0.1rem;
    border-bottom: var(--glass-border-light);
}

.delete-wrapper .caution-wrapper {
    padding: 1rem;

    background-color: #FEF3D0;

    border: 1px solid #B5630B;
    border-radius: 0.3rem;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;

    margin-bottom: 1rem;
}

.caution-wrapper svg {
    width: var(--medium-font-size);
    height: var(--medium-font-size);

    fill: #B5630B;
}

.caution-wrapper .caution {
    font-size: var(--small-font-size);
    font-weight: 600;
    color: #B5630B;
}

.delete-wrapper .title .selected-list {
    font-size: var(--medium-font-size);
    font-weight: 600;
    color: var(--text-color);
}

.delete-wrapper .buttons > button {
    width: 100%;
}

