@import url('../fonts/web/inter.css');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    font-family: "Inter", sans-serif;

    /* for sidebar menu */
    --glass-background: rgba(245, 245, 245, 0.2);
    --glass-border: 1px solid rgba(130, 130, 130, 0.5);
    --glass-border-light: 1px solid rgba(100, 100, 100, 0.25);

    --item-background: rgba(190, 190, 190, 0.15);
    --item-border: 1px solid rgba(100, 100, 100, 0.25);
    --item-border-light: 1px solid rgba(100, 100, 100, 0.25);

    --item-background-hover: rgba(130, 130, 130, 0.15);

    --circle-background: rgba(190, 190, 190, 0.25);
    --circle-border: 1px solid rgba(190, 190, 190, 0.1);
    --circle-border-select: 1px solid rgba(124, 33, 52, 0.3);

    --input-border: 1px solid #110b0c90;

    /* general color assets */
    --background: #fbf7f8;

    --primary-color: #c93d5b;

    --secondary-color: #ef8fa4;
    --secondary-color-light: #f9d2db;

    --accent-color: #f84168;
    --accent-color-hover: #f96786;

    --text-color: #110b0c;
    --text-secondary-color: #585455;
    --text-tertary-color: #888586;
    --text-color-light: #fbf7f8;

    --pending-color: #60935D; ;
    --today-color: #E76F51;
    --overdue-color: #E15554;

    /* general size assets */
    --logo-font-size: 1.44rem;
    --menu-font-size: 0.833rem;

    --add-task-size: 1.728rem; 

    --project-title-font-size: 1.728rem;

    --project-icon-size: 1.2rem;
    --number-items-font-size: 0.694rem;

    --close-button-size: 1.728rem;

    --large-font-size: 1.2rem;
    --medium-font-size: 1rem;
    --small-font-size: 0.833rem;
    --x-small-font-size: 0.694rem;
    --xx-small-font-size: 0.583rem;

    /* color choices */
    --default-choice: #c93d5b;
    --red-choice: #DB2B39;
    --green-choice: #497248;
    --blue-choice: #576CA8;
    --purple-choice: #5B2C91;
    --yellow-choice: #c1a12d;

    /* colors for projects icons */
    --white-choice: #F5F3F5;
    --black-choice: #2A2D34;
}

@supports (font-variation-settings: normal) {
    :root { 
      font-family: "InterVariable", sans-serif; 
      font-optical-sizing: auto; 
    }
  }