@import './root.css';
@import './sidebar_menu.css';
@import './todo_list_content.css';
@import './projectOverlay.css';
@import './addTaskOverlay.css';
@import './deleteOverlay.css';
@import './editOverlay.css';
  
.todo-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    /* height: 100vh; */

    background-color: var(--background);

    overflow: hidden;
}

html {
    background-color: var(--background);
}

body {
    -webkit-font-smoothing: antialiased;
}

body[data-dialog-active="true"] {
    overflow: hidden;
}

body[data-dialog-active="false"] {
    overflow: auto;
}