.todo-list-content {
    background-color: var(--background);

    width: 100%;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    overflow-y: auto;
    height: 100vh;
}

.todo-list-wrapper {
    min-width: 280px;
    width: 100%;
    max-width: 768px;

    width: clamp(280px, 100%, 768px);

    position: relative;

    transition: all 0.3s ease;
}

.todo-list-wrapper[data-is-menu-active="true"] {
    /* left: calc(100% - 10rem); */
    left: 8rem;
}

.todo-list-wrapper[data-is-menu-active="false"] {
    /* left: 0rem; */
    left: 2rem;
}

.top-section-content {
    padding: 1rem;
}

.top-section-content .top-section-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    width: 100%;

    border-bottom: var(--glass-border-light);

    padding: 0.5rem 1rem;
}

.top-section-wrapper .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.3rem;
}

.top-section-wrapper .title p.project-title {
    font-size: var(--project-title-font-size);
    font-weight: 700;
    color: var(--text-color);
}

.top-section-wrapper .edit-title {
    padding: 0.5rem;
    border-radius: 0.3rem;

    cursor: pointer;
}

.top-section-wrapper .edit-title[data-project-id="none"] {
    visibility: hidden;
}

.top-section-wrapper .edit-title svg {
    display: flex;

    width: var(--small-font-size);
    height: var(--small-font-size);

    fill: var(--text-tertary-color);
}

.top-section-wrapper .title:hover .edit-title {
    background-color: var(--item-background-hover);
}

.top-section-wrapper .title:hover .edit-title svg {
    fill: var(--text-secondary-color);
}

.top-section-wrapper .add-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    text-align: center;

    padding: 0.5rem;
    
    /* border: var(--glass-border-light); */
    border-radius: 0.3rem;

    cursor: pointer;

    transition: all 0.2s ease;
}

.top-section-wrapper .add-task svg {
    width: var(--add-task-size);
    height: var(--add-task-size);

    fill: var(--accent-color);
}

.top-section-wrapper .add-task p.add-task-text {
    font-size: var(--small-font-size);
    font-weight: 600;
    color: var(--text-color);
    text-align: center;

    transition: all 0.1s ease;
}

.top-section-wrapper .add-task:hover {
    background-color: var(--item-background-hover);
}

.top-section-wrapper .add-task:active {
    background-color: var(--secondary-color-light);
}

.top-section-wrapper .add-task:active p.add-task-text {
    color: var(--primary-color);
}


/* todo-list cards */
.bottom-section-content {
    padding-bottom: 2rem;
}

.todo-list-cards {
    /* background-color: pink; */
    /* padding: 1rem; */
}

.list-card {
    padding: 1rem;

    display: flex;
    gap: 1rem;

    border-bottom: var(--glass-border-light);
}

.list-card .list-top-section {
    /* display: flex;
    flex-direction: row;
    align-items: center; */

    /* gap: 1rem; */
}

.list-card input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: var(--input-border);
    border-radius: 50%;

    width: 1.5rem;
    height: 1.5rem;

    aspect-ratio: 1 / 1;

    outline: none;

    cursor: pointer;
    transition: all 0.1s ease;
}

.list-card input:checked {
    background-color: var(--secondary-color-light);
    border: 2px solid var(--primary-color);
}

.list-card .list-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.list-description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.list-top-section .list-description .list-left-section {
    display: flex;
    flex-direction: column;
}

.list-description .list-left-section p.title {
    font-size: var(--medium-font-size);
    font-weight: 500;
    color: var(--text-color);

    line-height: 1.6;
}

.list-description .list-left-section p.description {
    font-size: var(--x-small-font-size);
    font-weight: 300;
    color: var(--text-tertary-color);

    /* line-height: 1.6; */

    font-style: italic;
}

.list-description .list-extra-description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    padding-top: 0.5rem;
}

.list-extra-description .date {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: center;

    gap: 0.2rem;
    visibility: visible;
}

.list-extra-description .date[data-date="none"] {
    visibility: hidden;
}

.list-extra-description .date svg {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--small-font-size);
    height: var(--x-small-font-size);
}

.list-extra-description .date p {
    font-size: var(--x-small-font-size);
    font-weight: 300;
}

.list-extra-description .date[data-date="pending"] p {
    color: var(--pending-color);
}

.list-extra-description .date[data-date="pending"] svg {
    fill: var(--pending-color);
}

.list-extra-description .date[data-date="today"] p {
    color: var(--today-color);
}

.list-extra-description .date[data-date="today"] svg {
    fill: var(--today-color);
}

.list-extra-description .date[data-date="overdue"] p {
    color: var(--overdue-color);
}

.list-extra-description .date[data-date="overdue"] svg {
    fill: var(--overdue-color);
}

.list-extra-description div.project-list {
    margin-left: auto;
}

.project-list p.project {
    font-size: var(--xx-small-font-size);
    font-weight: 400;
    padding: 0.2rem 0.3rem;

    border-radius: 0.3rem;
}

.project-list p.project[data-color="default"] {
    background-color: var(--secondary-color-light); /* the background depends on the project's color */
    color: var(--default-choice);
    border: 1px solid var(--default-choice);
}

.project-list p.project[data-color="gray"] {
    background-color: #e4e4e4;
    color: var(--text-secondary-color);
    border: 1px solid var(--text-tertary-color);
}

.project-list p.project[data-color="red"] {
    /*red-choice*/
    background-color: #fde0e5;
    color: var(--red-choice);
    border: 1px solid var(--red-choice);
}

.project-list p.project[data-color="green"] {
    /*green-choice*/
    background-color: #8bf5bd;
    color: var(--green-choice);
    border: 1px solid var(--green-choice);
}

.project-list p.project[data-color="blue"] {
    /*blue-choice*/
    background-color: #8cdcfb;
    color: var(--blue-choice);
    border: 1px solid var(--blue-choice);
}

.project-list p.project[data-color="purple"] {
    /*purple-choice*/
    background-color: #e4b2fc;
    color: var(--purple-choice);
    border: 1px solid var(--purple-choice);
}

.project-list p.project[data-color="yellow"] {
    /*yellow-choice*/
    background-color: #fcebbe;
    color: var(--yellow-choice);
    border: 1px solid var(--yellow-choice);
}

.list-menu-section {
    position: relative;
}

.list-menu-wrapper {
    display: flex;
    flex-direction: row;

    gap: 0.3rem;

    position: absolute;
    top: 0;
    right: 0;
}

.list-menu-wrapper > div {
    display: flex;
    align-self: start;
    

    padding: 0.5rem;
    border-radius: 0.3rem;

    cursor: pointer;
}

.list-menu-wrapper > div:hover {
    background-color: var(--item-background-hover);
}

.list-menu-wrapper > div svg {
    width: var(--medium-font-size);
    height: var(--medium-font-size);

    fill: transparent;
}

.list-card:hover .list-menu-wrapper > div svg {
    fill: var(--text-secondary-color);
}

@media screen and (max-width: 1110px) {
    .todo-list-wrapper {
        width: 100%;
        max-width: calc(100% - 20rem);
        left: 2rem;
    }

    .todo-list-wrapper[data-is-menu-active="true"] {
        left: 8rem;
    }

    .todo-list-wrapper[data-is-menu-active="false"] {
        max-width: calc(100% - 8rem);
        left: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .todo-list-wrapper {
        width: 100%;
        max-width: calc(100% - 16rem);
        left: 2rem;
    }

    .todo-list-wrapper[data-is-menu-active="true"] {
        left: 8rem;
    }

    .todo-list-wrapper[data-is-menu-active="false"] {
        max-width: calc(100% - 8rem);
        left: 2rem;
    }
}